@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-Black.ttf");
  font-weight: 800;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-family-rubik: "Rubik", sans-serif;
}
